In [2]:
import pandas.io.data as web

start = '2016-7-01'

# Federal Reserve Bank of St. Louis
jpy = web.DataReader('DEXJPUS', 'fred', start=start)
jpy.dropna()

            DEXJPUS
DATE
2016-07-01   102.55
2016-07-05   101.58
2016-07-06   101.12
2016-07-07   100.74
2016-07-08   100.65
2016-07-11   102.66
2016-07-12   104.72
2016-07-13   104.10
2016-07-14   105.40
2016-07-15   105.64
2016-07-18   106.00
2016-07-19   106.13
2016-07-20   106.65
2016-07-21   105.98
2016-07-22   106.22